@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');
@import url('https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css');
html,
body,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}


#storyboard {
  position: -webkit-sticky;
  position: sticky;
}

h1 {
  font-size: xxx-large;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, .95);
}

h2 {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  background-color: #3b3b3b;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-size: x-large;
  text-align: center;
}

p {
  line-height: 1.5;
}

.canvas-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fullscreen {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

#cover {
  width: 100%;
  height: 100%;
  background: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

#intro {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  color: #fff;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.786);
  text-shadow: 0 0 3px rgba(0, 0, 0, .95);
}

#intro .footnote {
  text-align: right;
}

#intro .footnote a {
  margin-right: 0.5rem;
  vertical-align: top;
}

#intro .footnote span {
  position: relative;
  bottom: -0.5rem;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, .95);
  font-style: italic;
  font-size: small;
}

#footer {
  width: 100%;
  height: 20vh;
  color: white;
  background: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}



.scene {
  position: relative;
  max-width: 30rem;
  /* margin: 0 auto 0 auto; */
  margin: 0 auto 0 4rem;
  padding: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.913);
}

.scene:first-child {
  margin-top: -10%;
}

.scene:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.scene p {
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 6px rgb(0, 0, 0);
}

[data-scene="1"] div,
[data-scene="3"] div {
  font-size: xx-large;
}

[data-scene="5"] {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto 0 auto !important;
  height: 100vh !important;
}

[data-scene="5"] .scene-features {
  display: flex;
  align-items: flex-start;
}

[data-scene="5"] .feature-left,
[data-scene="5"] .feature-right {
  flex: 0 0 50%;
  max-width: 50%;
}

[data-scene="5"] .feature-left img {
  width: 80%;
  height: 90vh; 
}

[data-scene="5"] .feature-right .text-box {
  width: 80%;
}